.newProductBtn {
  position: fixed;
  width: 574px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;
}

.newProductBtn a {
  position: absolute;
  right: 1rem;
  top: -2.5rem;
  background-color: rgb(175, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-decoration: none;
  color: black;
}
